---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Register">
	<main class="flex flex-1 flex-col items-center justify-center gap-4 p-4">
		<section class="w-full max-w-md">
			<h1 class="mb-1 w-full text-2xl font-semibold text-zinc-900 dark:text-zinc-100">Register</h1>
			<p class="mb-8 w-full text-sm text-zinc-500 dark:text-zinc-400">
				Already have an account? <a
					href="/login"
					class="font-medium text-blue-600 underline underline-offset-2 dark:text-blue-400"
					>Sign in</a
				>
			</p>
			<form action="/api/auth/signup" method="post" class="grid w-full grid-cols-1 gap-3">
				<div class="grid grid-cols-1 gap-2">
					<label for="email" class="text-sm font-medium text-zinc-900 dark:text-zinc-300"
						>Email</label
					>
					<input
						id="email"
						type="email"
						name="email"
						class="rounded-md border border-zinc-300 bg-zinc-50 px-3 py-1 focus:border-blue-500 focus:bg-white focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-60 dark:border-zinc-700 dark:bg-zinc-800 dark:text-zinc-300 dark:focus:bg-zinc-900"
					/>
				</div>
				<div class="grid grid-cols-1 gap-2">
					<label for="password" class="text-sm font-medium text-zinc-900 dark:text-zinc-300"
						>Password</label
					>
					<input
						id="password"
						type="password"
						name="password"
						class="rounded-md border border-zinc-300 bg-zinc-50 px-3 py-1 focus:border-blue-500 focus:bg-white focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-60 dark:border-zinc-700 dark:bg-zinc-800 dark:text-zinc-300 dark:focus:bg-zinc-900"
					/>
				</div>
				<button
					type="submit"
					class="mt-4 rounded-md border border-zinc-900 bg-zinc-900 py-1.5 text-sm font-medium text-zinc-100 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 dark:border-zinc-100 dark:bg-zinc-100 dark:text-zinc-900 dark:focus:ring-offset-zinc-900"
					>Register</button
				>
			</form>
		</section>
	</main>
</Layout>
